/*fonts*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular/Roboto-Regular.eot');
    /* IE9 Compat Modes */
    src: url('fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/Roboto-Regular/Roboto-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold/Roboto-Bold.eot');
    /* IE9 Compat Modes */
    src: url('fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/Roboto-Bold/Roboto-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black/Roboto-Black.eot');
    /* IE9 Compat Modes */
    src: url('fonts/Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Roboto-Black/Roboto-Black.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/Roboto-Black/Roboto-Black.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/Roboto-Black/Roboto-Black.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light/Roboto-Light.eot');
    /* IE9 Compat Modes */
    src: url('fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Roboto-Light/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/Roboto-Light/Roboto-Light.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

/*widths*/
.col {
    display: inline-block;
    padding: 0 10px;
}

.col:first-child {
    padding-left: 0;
}

.col:last-child {
    padding-right: 0;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: calc(100% / 3);
}

.col-3 {
    width: -webkit-calc(100% / 4);
    width: -moz-calc(100% / 4);
    width: calc(100% / 4);
}

.col-2 {
    width: -webkit-calc(100% / 6);
    width: -moz-calc(100% / 6);
    width: calc(100% / 6);
}

.col-12 {
    width: 100%;
}

/*widths*/
/*fonts*/
/*main styles start*/
hr {
    background: #a1a1a2;
    margin-bottom: 20px;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 1180px;
    margin: auto;
}

::-moz-selection {
    /* Code for Firefox */
    background-color: rgba(66, 139, 202, 0.24);
}

::selection {
    background-color: rgba(66, 139, 202, 0.24);
}

input:focus {
    outline: 1px solid #8ad3e9;
}

body, html {
    height: 100%;
    font: 14px 'Roboto-Regular';
}

.flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a, a:hover {
    text-decoration: none;
    color: #3eaaef;
    -webkit-transition: color .3s ease-in-out .3s;
    -moz-transition: color .3s ease-in-out .3s;
    -ms-transition: color .3s ease-in-out .3s;
    -o-transition: color .3s ease-in-out .3s;
    transition: color .3s ease-in-out .3s;
}

.main-title {
    color: #494949;
    font-size: 20px;
    margin-bottom: 15px;
}

header {
    padding: 15px 0;
    width: 100%;
}

.block-box {
    display: block;
}

/*main styles end*/
/*main menu styles start*/
.main--nav {
    width: 100%;
    display: block;
}

.main--list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main--list li {
    display: inline-block;
    list-style-type: none;
    min-width: 80px;
    font: 18px 'Roboto-Regular';
    text-align: left;
    color: #000000;
    text-transform: capitalize;
}

.main--list a {
    padding: 15px 9px;
    display: block;
    color: #a19790;
    float: left;
}

.main--list a.active,
.main--list a:hover,
.main--list a:focus,
.main--list a:active {
    color: #000000;
}

/*responsive buirger menu styles start*/

.main--list .icon {
    display: none;
}

/*responsive buirger menu styles end*/

/*main menu styles end*/
.top-list {
    text-align: right;
}

.top-list a {
    display: inline-block;
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 17px 'Roboto-Regular';
    color: #a19790;
}

.sign-in {
    border: 1px solid #bbbdc0;
    color: #575757;
    font-weight: 600;
}

/*top list styles end*/
.banner {
    background: url("../img/banner.png") no-repeat top/cover #f2f0f3;
    /*background: #f2f0f3;*/
    min-height: 540px;
    padding: 0 0 125px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 25px;
}

.banner > * {
    width: 100%;
}

/*styled-select styles start*/
.styled-select {
    position: relative;
    border: 1px solid #d2d4d8;
    background: #ffffff;
    display: inline-block;
    min-width: 365px;
    height: 45px;
}

.styled-select:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2696e5;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.styled-select select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 11px 20px 11px 15px;
    border: 0 none;
    width: 100%;
    color: #b1adb1;
}

/*styled-select styles end*/

.search-form {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font: 18px 'Roboto-Regular';
    color: #b1adb1;
}

.blue-btn {
    padding: 12px 15px;
    background: #3eaaef;
    text-align: center;
    min-width: 210px;
    color: #ffffff;
    border: 1px solid #3eaaef;
    display: inline-block;
    height: 45px;
}

.search-label {
    min-width: 330px;
    background: #ffffff;
    padding: 12px 15px;
    text-align: left;
    display: inline-block;
    position: relative;
    border: 1px solid #d2d4d8;
    border-right: 0 none;
    height: 45px;
}

.flex-row {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 45px;
}

.half-on-md {
    width: 50%;
    text-align: center;
    padding: 10px 50px;
    color: #494949;
}

.half-on-md p {
    font-size: 14px;
    margin-bottom: 10px;
}

.learn-more-link {
    font-size: 18px;
    color: #3eaaef;
}

.call-box {
    text-align: center;
    font-size: 19px;
}

.addd-info {
    color: #cec8c2;
    font-size: 15px;
    margin-top: 20px;
}

.phone-icon {
    background: url("../img/phone.png") no-repeat center;
    height: 25px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
}

/*form styles start*/
.form-group-txt p {
    margin-bottom: 10px;
}

.form-group, .form-group-txt {
    font: 15px 'Roboto-Light';
    margin-bottom: 20px;
}

.form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.form-group input[type="checkbox"] {
    display: inline-block;
    margin: -5px 10px 0 0;
}

.form-input-group {
    flex: 0 0 400px;
}

.form-control {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #878787;
    padding: 9px 7px;
}



.form-control:focus {
    border-color: #8ad3e9;
}

.form-label {
    width: 142px;
    padding-right: 10px;
    margin: 10px 0 7px 0;
}

.financial-detil-form .form-label {
    width: 300px;
}

.form-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.form-txt {
    margin-left: 10px;
}

.affect-txt {
    font: italic 19px 'Roboto-Light';
    color: #a1a1a2;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 180px;
}

.steps-main-title {
    font: 26px 'Roboto-Light';
    margin-bottom: 65px;
}

.steps-title-sm {
    color: #a1a1a2;
    font: 20px 'Roboto-Light';
    margin-bottom: 15px;
}

.prev-next {
    height: 80px;
}

.prev-next li:nth-child(2)::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../img/lock.png") no-repeat center/contain transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 15px;
}

.prev-next li:nth-child(2)::before {
    content: "Won't affect your credit score!";
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    font: italic 22px 'Roboto-Light';
    color: #a1a1a2;
    text-align: center;
    top: 50px;
    width: 100%;
}

.financial-detil-form label a {
    color: #b0b0b0;
    text-decoration: underline;
}

/*form styles end*/

/*footer styles start*/

/*.page-wrap {*/
/*min-height: 100%;*/
/*!* equal to footer height *!*/
/*margin-bottom: -95px;*/
/*}*/

/*.page-wrap:after {*/
/*content: "";*/
/*display: block;*/
/*}*/

/*.footer, .page-wrap:after {*/
/*min-height: 95px;*/
/*}*/

.steps-footer {
    color: #a1a1a2;
    padding: 20px;
    font-family: 'Roboto-Light', sans-serif;
    border-top: 1px solid #ebebeb;
    margin-top: 80px;
}

.call-box-steps {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 200px;
    text-transform: uppercase;
    font-size: 15px;
}

/*footer styles end*/

/*pricing plan styles start*/
.pricing {
    text-align: center;
    margin-top: 30px;
}

.pricing-step {
    text-align: center;
}

.pricing-step .steps-main-title {
    margin-bottom: 35px;
}

.pricing-plan {
    position: relative;
    width: 320px;
    display: inline-block;
    border: 2px solid #808080;
    padding: 70px 45px 35px 45px;
    margin-left: -4px;
}

.pricing-plan:after {
    content: "or";
    text-transform: uppercase;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    right: -25px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border: 2px solid #3c3c3c;
    border-radius: 50%;
    z-index: 22;
    font-weight: 600;
    color: #3c3c3c;
}

.pricing-plan:last-child:after {
    display: none;
}

.plan-btn {
    background: #0686d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 12px 18px;
    text-align: center;
    border: 0 none;
    color: #ffffff;
    margin: 45px 0 35px 0;
    font-size: 15px;
}

.month-count {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
}

.p-payment-txt {
    font-size: 18px;
}

.plan-price {
    font-size: 32px;
    margin: 30px 0;
}

.interest-rate {
    font-size: 15px;
    color: #ababab;
}

.rate-percent {
    font-size: 22px;
    color: #ababab;
}

.price-last-txt {
    font-size: 15px;
    color: #ababab;
}

.pricing-header-amount {
    width: 300px;
    margin: auto;
    border: 2px solid #383838;
    border-bottom: 0;
    padding: 15px 45px;
    border-radius: 20px 20px 0 0;
    text-transform: uppercase;
    color: #545454;
}

.p-amount-price {
    font-size: 30px;
    font-weight: 600;
}

.pricing-row {
    padding: 10px;
    border: 2px solid #383838;
    border-bottom: 0 none;
    border-radius: 10px 10px 0 0;
    display: inline-block;
}

/*pricing plan styles end*/
/*social icons styles start*/
.footer-links {
    text-align: right;
}

.footer-links li {
    display: inline-block;
    vertical-align: middle;
}

.footer-menus {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #bababa;
}

.footer-menus li {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.footer-menus li:after {
    content: "|";
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-menus li:last-child:after {
    display: none;
}

.footer-menus a {
    color: #bababa;
    text-decoration: none;
}

.footer-bottom-txt {
    text-align: left;
}

.footer-bottom-txt p {
    padding-top: 15px;
}

.footer-strong {
    margin-bottom: 5px;
}

.social-list {
    text-transform: uppercase;
}

.social-icons {
    width: 30px;
    height: 32px;
    display: block;
    background: url("../img/social.png") no-repeat;
    margin: 10px;
}

.facebook {
    background-position: 7px 0;
}

.twit {
    background-position: -72px 0;
}

.b {
    background-position: -155px 0;
}

.form-toggle {
    display: none;
}

/*social icons styles end*/

