@media only screen and (max-width: 1200px) {
    .container {
        width: 95%;
    }

    .search-form {
        width: 100%;
        font-size: 15px;
    }

    .search-form > * {
        width: -webkit-calc(100% / 3);
        width: -moz-calc(100% / 3);
        width: calc(100% / 3);
    }

    .footer-menus {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .call-box-steps {
        position: relative;
        width: auto;
    }

    .pricing-plan {
        width: 280px;
    }
}

@media only screen and (max-width: 991px) {
    .main--list li {
        font-size: 16px;
    }

    .main--list li a {
        padding: 10px 7px;
    }

    .search-form > .blue-btn {
        width: 125px;
        min-width: 0;
    }

    .pricing-plan {
        width: 200px;
        padding: 30px 15px;
    }
}

@media only screen and (max-width: 840px) {
    .main--list, .form-group, .form-row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .steps-main-title {
        text-align: center;

    }

    .form-input-group, .form-label {
        width: 100%;
        flex: 0 0 100%;
    }

    .col-12 {
        padding: 10px 0;
    }

    .wizard ul, .tabcontrol ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .wizard > .actions {
        padding-left: 0;
        margin: auto;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .full-on-xs {
        width: 100%;
    }

    .social-list {
        text-align: center;
    }

    .search-form, .flex-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .search-form > * {
        width: 65%;
        margin: 10px 0;
        min-width: 0;
    }

    .search-label {
        border-right: 1px solid #d2d4d8;
    }

    .banner {
        padding: 0 0 40px 0;
    }

    .pricing-plan {
        width: 100%;
        padding: 40px 15px;
    }

    .pricing-plan:after {
        right: 0;
        top: auto;
        left: 0;
        bottom: -25px;
    }

    .main--list.responsive {
        background: #fff;
    }

    .main--list a {
        display: none;
    }

    .main--list.responsive a {
        float: none;
        display: block;
        text-align: left;
        border-bottom: 1px solid #f5f5f5;
        font-size: 19px;
    }

    .main--list a.icon {
        float: right;
        display: block;
        position: absolute;
        top: 0;
        font-size: 25px;
        z-index: 20;
    }
}

@media only screen and (max-width: 500px) {
    .search-form > * {
        width: 95%;
    }

    .banner {
        min-height: 400px;
        padding: 0 0 30px 0;
    }

    .half-on-md {
        padding: 10px 15px;
    }

    .main-title {
        font-size: 20px;
    }

    .half-on-md p, .learn-more-link {
        font-size: 16px;
    }

    .search-label {
        height: auto;
    }

    .pricing-header-amount {
        width: 95%;
        padding: 15px;
    }

    .prev-next {
        height: 125px;
    }

    .wizard > .actions > ul > li {
        position: relative;
        float: none;
        width: 80%;
    }

    .call-box-steps {
        width: 100%;
        padding: 15px;
    }

    .wizard > .actions > ul {
        display: block;
    }

    .prev-next li:nth-child(2)::before {
        font: italic 16px 'Roboto-Light';
    }

    .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
        min-width: 0;
    }

    .footer-menus a {
        padding: 10px;
        display: inline-block;
    }
}