<header>
  <div class="container">
      <div class="top-list">
          <a href="#" class="sign-in">Sign in</a>
          <a href="#">Help</a>
      </div>
      <nav class="main--nav" >
          <div class="main--list" [class.responsive]="ismenuopen" id="mainNav">
              <a href="javascript:void(0)" [class.active]="c_route==''" (click)="gotoPage('/')">Business Loans</a>
              <a href="javascript:void(0)" [class.active]="c_route=='personalloan'" (click)="gotoPage('personalloan')">Personal Loans</a>
              <a href="javascript:void(0)">How it Works</a>
              <a href="javascript:void(0)">About us</a>
              <a href="javascript:void(0)" class="icon" (click)="togalMenu()">&#9776;</a>
          </div>
      </nav>
  </div>
</header>