<div class="page-wrap">
  <div class="main--content">
    <div class="container">
      <div id="steps" role="application" class="wizard clearfix __web-inspector-hide-shortcut__">
        <div class="steps clearfix">
          <ul role="tablist">
            <li role="tab" class="first" [class.current]="currentSteps ==='about_business'" (click)="goToStep('about_business')" [class.done]="isStep1Done" [class.disabled]="currentSteps!='about_business' && !isStep1Done" aria-disabled="false" aria-selected="true">
              <a id="steps-t-0" href="javascript:void(0)" aria-controls="steps-p-0">
                <span class="current-info audible" *ngIf="currentSteps ==='about_business'">current step: </span>
                <span class="number">1</span> About Your business</a>
            </li>
            <li role="tab" class="" [class.current]="currentSteps ==='about_you'" [class.done]="isStep2Done" (click)="goToStep('about_you')" [class.disabled]="currentSteps!='about_you' && !isStep2Done" aria-disabled="true">
              <a id="steps-t-1" href="javascript:void(0)" aria-controls="steps-p-1">
                  <span class="current-info audible" *ngIf="currentSteps ==='about_you'">current step: </span>
                <span class="number">2</span> About You</a>
            </li>
            <li role="tab" class="" [class.current]="currentSteps ==='financial_info'" [class.done]="isStep3Done" (click)="goToStep('financial_info')" [class.disabled]="currentSteps!='financial_info' && !isStep3Done" aria-disabled="true">
              <a id="steps-t-2" href="javascript:void(0)" aria-controls="steps-p-2">
                  <span class="current-info audible" *ngIf="currentSteps ==='financial_info'">current step: </span>
                <span class="number">3</span> Financial Info</a>
            </li>
            <li role="tab" class="last" [class.current]="currentSteps ==='review_you'" [class.done]="isStep4Done" (click)="goToStep('review_you')" [class.disabled]="currentSteps!='review_you' && !isStep4Done" aria-disabled="true">
              <a id="steps-t-3" href="javascript:void(0)" aria-controls="steps-p-3">
                  <span class="current-info audible" *ngIf="currentSteps ==='review_you'">current step: </span>
                <span class="number">4</span> Review you</a>
            </li>
          </ul>
        </div>
        <div class="content clearfix">
          <h3 id="steps-h-0" tabindex="-1" class="title current">About Your business</h3>
          <section id="steps-p-0" role="tabpanel" aria-labelledby="steps-h-0" class="body" [class.current]="currentSteps ==='about_business'" aria-hidden="false" *ngIf="currentSteps ==='about_business'">
              <form [formGroup]="businessForm" (ngSubmit)="submitStep(businessForm.value)" [class.submittry]="isStep1Try">

              <h2 class="steps-main-title">
                To build your quote, tell us about your business
              </h2>
              <div class="form-group">
                <label for="legalName" class="form-label">Business name</label>
                <div class="form-input-group">
                  <input id="business_name" type="text" placeholder="Legal name" class="form-control business-field" name="business_name" [formControl]="businessForm.controls['business_name']">
                </div>
                <p class="form-txt">Your legal business name, not DBA</p>
              </div>
              <div class="form-group">
                <label for="businessAddress-street" class="form-label">Business address</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input id="businessAddress-street" name="business_address" [formControl]="businessForm.controls['business_address']" type="text" placeholder="Number, street, apt./unit #" class="form-control business-field">
                  </div>
                  <div class="form-row">
                    <div class="col-4 col-12 col">
                        <select id="businessAddress-country" (change)="changeCountry('business_country')" [(ngModel)]="business_country" name="business_country" [formControl]="businessForm.controls['business_country']" class="form-select form-control business-field">
                            <option disabled>Select Country</option>
                            <option *ngFor="let item of countryList" value="{{item.country_code}}" >
                              {{item.name}}
                             </option>
                          </select>
                    
                    </div>
                    <div class="col-4 col-12 col">
                      <select id="businessAddress-state" [(ngModel)]="business_state" name="business_state" [formControl]="businessForm.controls['business_state']" class="form-select form-control business-field">
                        <option disabled>State</option>
                        <option *ngFor="let item of stateListA" value="{{item.name}}">
                          {{item.name}}
                         </option>
                      </select>
                    </div>
                    <div class="col-4 col-12 col">
                      <input id="businessAddress-zip" name="business_zip" [formControl]="businessForm.controls['business_zip']" type="text" placeholder="{{zip_placeholderA}}" class="form-control business-field">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="businessPhone" class="form-label">Business phone</label>
                <div class="form-input-group">
                  <input id="businessPhone" [textMask]="{mask: mask}" type="tel" placeholder="(xxx) xxx-xxxx" name="business_phone" [formControl]="businessForm.controls['business_phone']" class="form-control business-field">
                </div>
              </div>
              <div class="form-group">
                <label for="ownerSince" class="form-label">Owner since</label>
                <div class="form-input-group">
                  <div class="col-4 col-12 col">
                    <select id="ownerSince" name="business_owner_since" [formControl]="businessForm.controls['business_owner_since']" class="form-select form-control business-field">
                      <option value="0"> < 3 Years</option>
                      <option value="3">Between 3 to 5 Year</option>
                      <option value="5">Between 5 to 10 Year</option>
                      <option value="10"> > 10 Year</option>


                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="employersNumber" class="form-label">Number of employers</label>
                <div class="form-input-group">
                  <div class="col-4 col-12 col">
                    <input type="number" id="employersNumber" name="business_total_emp" [formControl]="businessForm.controls['business_total_emp']" class="form-control business-field" placeholder="Choose one">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="legalStucture" class="form-label">Legal structure</label>
                <div class="form-input-group">
                  <div class="col-4 col-12 col">
                    <div class="col-4 col-12 col">
                      <select id="legalStucture" name="business_structure" [formControl]="businessForm.controls['business_structure']" class="form-select form-control business-field">
                        <option disabled>Choose one</option>
                        <option value="Sole">Sole proprieor </option>
                        <option value="llc">LLC</option>
                        <option value="partnership">General partnership</option>
                        <option value="llp">LLP</option>
                        <option value="s-corp">S-corp</option>
                        <option value="c-corp">C-corp</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div id="formToggle" class="form-toggle">
                <hr>
                <div class="form-group-txt">
                  <h3 class="steps-title-sm">Now we need your login information</h3>
                  <p>
                    Don't worry, we don't spam and won't ever share your email without your consent.
                  </p>
                </div>
                <div class="form-group">
                  <label for="email" class="form-label">Email</label>
                  <div class="form-input-group">
                    <div class="col-4 col-12 col">
                      <input type="email" id="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="psw" class="form-label">Password</label>
                  <div class="form-input-group">
                    <div class="col-4 col-12 col">
                      <input type="password" id="psw" class="form-control" placeholder="*********">
                    </div>
                  </div>
                </div>
                <div class="form-group-txt">
                  <p>
                    By continuing, you agree to the
                    <a href="javascript:void(0)">Terms of Use</a>
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor minus molestias nobis perferendis, quam quod temporibus.
                    Ipsum iste magnam nam quibusdam quis recusandae repellat sapiente sint voluptates. Commodi, libero, perferendis?
                  </p>
                </div>
              </div>
            </form>
          </section>
          <h3 id="steps-h-1" tabindex="-1" class="title">About You</h3>
          <section id="steps-p-1" role="tabpanel" aria-labelledby="steps-h-1" class="body" [class.current]="currentSteps ==='about_you'" aria-hidden="true" *ngIf="currentSteps ==='about_you'">
            <form class="user-detil-form" [formGroup]="userForm" (ngSubmit)="submitStep(userForm.value)" [class.submittry]="isStep2Try">
              <h2 class="steps-main-title">
                Thanks! Now, tell us about yourself.
              </h2>
              <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <div class="col-6 col-12 col">
                      <input id="name" type="text" name="user_fname" [formControl]="userForm.controls['user_fname']" placeholder="First Name" class="form-control">
                    </div>
                    <div class="col-6 col-12 col">
                      <input type="text" name="user_lname" [formControl]="userForm.controls['user_lname']"  placeholder="Last Name" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="homeAddress" class="form-label">Home address</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input id="homeAddressCheck" (change)="coppyAddress(userForm.value.same_address_as_above)" type="checkbox" name="same_address_as_above" [formControl]="userForm.controls['same_address_as_above']" >
                    <label for="homeAddressCheck">My home address is the same as my business address
                    </label>
                  </div>
                  <div class="form-row">
                    <input id="homeAddress" type="text" name="user_home_address" [(ngModel)]="user_home_address" [formControl]="userForm.controls['user_home_address']"  placeholder="Number, street, apt./unit #" class="form-control">
                  </div>
                  <div class="form-row">
                    <div class="col-4 col-12 col">
                        <select  name="user_country" (change)="changeCountry('user_country')" [(ngModel)]="user_country"  [formControl]="userForm.controls['user_country']" class="form-select form-control">
                          <option disabled>Select Country</option>
                          <option *ngFor="let item of countryList" value="{{item.country_code}}" >
                            {{item.name}}
                           </option>
                        </select>
                          
                    </div>
                    <div class="col-4 col-12 col">
                      <select  name="user_state" [(ngModel)]="user_state" [formControl]="userForm.controls['user_state']" class="form-select form-control">
                        <option disabled>State</option>
                        <option *ngFor="let item of stateListB" value="{{item.name}}">
                          {{item.name}}
                         </option>
                      </select>  
                    </div>
                    <div class="col-4 col-12 col">
                      <input type="text" name="user_zip" [(ngModel)]="user_zip" [formControl]="userForm.controls['user_zip']" placeholder="{{zip_placeholderB}}" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="homePhone" class="form-label">Home phone</label>
                <div class="form-input-group">
                  <input [textMask]="{mask: mask}" id="homePhone" name="user_phone" [formControl]="userForm.controls['user_phone']" type="tel" placeholder="(xxx) xxx-xxxx" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="dateOfBirth"  class="form-label">Date of birth</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <div class="form-input-group">
                       <input id="dateOfBirth" name="user_dob" [formControl]="userForm.controls['user_dob']"  max="{{yesterDay}}" placeholder="MM-DD-YYYY"  type="date" class="form-control">
                    </div>
                   <!-- <div class="col-2 col-12 col">
                      <input id="dateOfBirth" name="user_dob_mm" [formControl]="userForm.controls['user_dob_mm']" placeholder="MM"  type="text" class="form-control">
                    </div>
                    /
                    <div class="col-2 col-12 col">
                      <input type="text" name="user_dob_dd" [formControl]="userForm.controls['user_dob_dd']" placeholder="DD" class="form-control">
                    </div>
                    /
                    <div class="col-2 col-12 col">
                      <input type="text" name="user_dob_yy" [formControl]="userForm.controls['user_dob_yy']" placeholder="YYYY" class="form-control">
                    </div> -->

                  </div>
                </div>
              </div>
            </form>
          </section>
          <h3 id="steps-h-2" tabindex="-1" class="title">Financial Info</h3>
          <section id="steps-p-2" role="tabpanel" aria-labelledby="steps-h-2" class="body" [class.current]="currentSteps ==='financial_info'" aria-hidden="true" *ngIf="currentSteps ==='financial_info'">
            <form class="financial-detil-form" [formGroup]="financialForm" (ngSubmit)="submitStep(financialForm.value)" [class.submittry]="isStep3Try" >
              <h2 class="steps-main-title">
                <p>Just a few financial details -</p>
                <p>you are one click away from a decision.</p>
              </h2>
              <div class="form-group">
                <label for="grossSales" class="form-label">Gross sales last year</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input type="text" id="grossSales" currencyMask  [options]="{ prefix: '$', precision: '0' }" name="gross_sales" [formControl]="financialForm.controls['gross_sales']"   placeholder="$ X,XXX,XXX" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="netProfit" class="form-label">Net profit last year (before taxes)</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input type="text" id="netProfit" currencyMask  [options]="{ prefix: '$', precision: '0' }"  name="net_profit" [formControl]="financialForm.controls['net_profit']"    class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="averageBusiness" class="form-label">Average business Bank Balance</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input  type="text" currencyMask  [options]="{ prefix: '$', precision: '0' }" id="averageBusiness" name="average_business" [formControl]="financialForm.controls['average_business']" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="personalAnnualIncome" class="form-label">Personal annual income</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input type="text" currencyMask  [options]="{ prefix: '$', precision: '0' }" id="personalAnnualIncome" name="personal_annual_income" [formControl]="financialForm.controls['personal_annual_income']"   class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="yourOwnership" class="form-label">Your ownership of business</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <select id="yourOwnership" name="your_owner_ship" [formControl]="financialForm.controls['your_owner_ship']" class="form-control">
                        <option value="0"> < 22 %</option>
                        <option value="5">22 to 25 %</option>
                        <option value="15">25 to 30 %</option>
                        <option value="25"> 30 to 40 %</option>
                        <option value="30"> 40 to 50 %</option>
                        <option value="35"> > 50 %</option>
                    </select>
                  </div>
                </div>
              </div>
              <h3 class="steps-title-sm">Enter these monthly payments, if you have them</h3>
              <div class="form-group">
                <label for="comercialRealEstateLoans" class="form-label">Comercial real estate loans</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input placeholder="$/ Month" currencyMask  [options]="{ prefix: '$', precision: '0' }" id="comercialRealEstateLoans" name="comercial_real_estate_loans" [formControl]="financialForm.controls['comercial_real_estate_loans']" type="text" class="form-control" placeholder="$ /month">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="rentLeaseForBusLoc" class="form-label">Rent or Lease for business loction
                </label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input placeholder="$/ Month" currencyMask  [options]="{ prefix: '$', precision: '0' }" id="rentLeaseForBusLoc" name="rent_lease_for_bus_loc" [formControl]="financialForm.controls['rent_lease_for_bus_loc']" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="equipmentVehicleLeases" class="form-label">Equipment &amp; Vehicle leases</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input placeholder="$/ Month" currencyMask  [options]="{ prefix: '$', precision: '0' }" id="equipmentVehicleLeases" name="equipment_vehicle_leases" [formControl]="financialForm.controls['equipment_vehicle_leases']" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="busLineLoans" class="form-label">Business lines and loans</label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input type="text" placeholder="Total Amount" id="busLineLoans" currencyMask  [options]="{ prefix: '$', precision: '0' }"  name="bus_line_loans" [formControl]="financialForm.controls['bus_line_loans']" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Would you like to payoff any existing business debt?
                </label>
                <div class="form-input-group">
                  <div class="form-row">
                    <input type="checkbox" name="is_paing_of" [formControl]="financialForm.controls['is_paing_of']" >
                    <label>
                      <strong>Yes.</strong> Paying off my debt may help me qualify for an improved pffer.
                      <a href="#" class="block-box">Learn more</a>
                    </label>
                  </div>
                </div>
              </div> 
              <div class="form-group-txt">
                <p>
                  By continuing, you agree to the
                  <a href="#">Credit Profile Authorization</a>.
                </p>
                <p>
                  <input type="checkbox" name="is_opportunity" [formControl]="financialForm.controls['is_opportunity']" > In the event I do not qualify for a loan through Lending Club, I'd like to be considered for a loan through
                  <a href="#">Opportunity Fund</a>.
                </p>
              </div>
            </form>
          </section>
          <h3 id="steps-h-3" tabindex="-1" class="title">Review you</h3>
          <section class="pricing-step body" [class.current]="currentSteps ==='review_you'" id="steps-p-3" role="tabpanel" aria-labelledby="steps-h-3" aria-hidden="true" *ngIf="currentSteps ==='review_you'">

            <h2 class="steps-main-title" *ngIf="isLoanQualify">
              Congratulations! You qualify for a business loan.
            </h2>
            <h2 class="steps-main-title" *ngIf="!isLoanQualify">
                Sorry you are not qualified  for a business loan.
            </h2>
            <p>
              Select the loan that best fits your needs.After you choose, you can review the terms before proceeding.
            </p>
            <div class="pricing">
              <div class="pricing-table">
                <div class="pricing-header-amount">
                  <p class="p-amount-title">Loan amount</p>
                  <p class="p-amount-price">{{ bus_line_loans | currency:"CAD":"symbol-narrow" }}</p>
                </div>
                <div class="pricing-row">
                  <div class="pricing-plan">
                    <p class="month-count">12</p>
                    <p class="p-payment-txt">monthly payments of</p>
                    <p class="plan-price">{{ review_12m | currency:"CAD":"symbol-narrow" }}</p>
                    <p class="interest-rate">Interest rate</p>
                    <p class="rate-percent">7.99%</p>
                    <button class="plan-btn">Select loan</button>
                    <p class="price-last-txt">
                      One-time origination fee of 2.49%
                    </p>
                  </div>
                  <div class="pricing-plan">
                    <p class="month-count">24</p>
                    <p class="p-payment-txt">monthly payments of</p>
                    <p class="plan-price">{{ review_24m | currency:"CAD":"symbol-narrow" }}</p>
                    <p class="interest-rate">Interest rate</p>
                    <p class="rate-percent">9.99%</p>
                    <button class="plan-btn">Select loan</button>
                    <p class="price-last-txt">
                      One-time origination fee of 2.49%
                    </p>
                  </div>
                  <div class="pricing-plan">
                    <p class="month-count">36</p>
                    <p class="p-payment-txt">monthly payments of</p>
                    <p class="plan-price">{{ review_36m | currency:"CAD":"symbol-narrow" }}</p>
                    <p class="interest-rate">Interest rate</p>
                    <p class="rate-percent">10.99%</p>
                    <button class="plan-btn">Select loan</button>
                    <p class="price-last-txt">
                      One-time origination fee of 2.49%
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="actions clearfix">
          <ul class="prev-next" role="menu" aria-label="Pagination">
            <li class="disabled" aria-disabled="true" >
              <a href="#previous" role="menuitem" *ngIf="false">Previous</a>
            </li>
            <li aria-hidden="false" aria-disabled="false" *ngIf="currentSteps !=='review_you'">
              <a href="javascript:void(0)" (click)="submitStep(currentSteps)" role="menuitem">Continue</a>
            </li>
            <li aria-hidden="true" style="display: none;">
              <a href="#finish" role="menuitem">Finish</a>
            </li>
          </ul>
        </div>
      </div>
      <!--<p class="text-center affect-txt">Won't affect your credit score!</p>-->
      <div class="call-box call-box-steps">
        <p>
          Call your Client Advisor
          <a href="tel:515-707-8856">515-707-8856</a> |
          <a>See faq</a>
        </p>
      </div>
    </div>
  </div>
</div>
<footer class="steps-footer">
  
  <div class="footer-links">
    <div class="footer-bottom-txt">
      <p>
       Actual rate depends upon credit score, loan term, and credit usage & history.
      </p>
      <p>
        &copy; Copyright 2006-2017. All right reserved to cognitive group.
      </p>
    </div>
  </div>
</footer>