<div class="page-wrapp">
  <div class="banner">
    <app-topmenus></app-topmenus>
      <div>
          <div class="container form-a">
              <div class="search-form flex-box">
                  <input currencyMask  [options]="{ prefix: '$', precision: '0' }" id="netProfit" type="text"  [(ngModel)]='loan_ammount' name="loan_ammount" min="5000" placeholder="Enter amount $5,000 to $300,000"   class="search-label {{input_loan_amount_validation_class}}">
                  <div class="styled-select">
                      <select id="" class="{{input_loan_for_validation_class}}" name="loan_for" [(ngModel)]='loan_for'>
                          <option value="" disabled>What is your loan for</option>
                          <option value="debt">Debt consolidation</option>
                          <option value="inventory">Inventory purchase</option>
                          <option value="working">Working capital</option>
                          <option value="remodel">Remodel</option>
                          <option value="acquire">Acquire business location</option>
                          <option value="marketing">Marketing</option>
                          <option value="emergency">Emergency repairs</option>
                          <option value="other">Other buisiness purpose</option>
                      </select>
                  </div>
                  <button class="blue-btn" (click)="gotoSteps()" >Get a quote</button>
              </div>
          </div>
      </div>
  </div>
  <div class="main--content">
      <div class="container">
          <div class="flex-box flex-row">
              <div class="full-on-md full-on-xs">
                  <h2 class="main-title">Business Loan</h2>
                  <p>Get all your capital up front, 1-5 year terms.</p>
                  <p>Fixed monthly payments, no prepayment penalties.</p>
                  <p>Great for a large one-time expense.</p>
                  <a href="#" class="learn-more-link">Learn more about loans</a>
              </div>
              
          </div>
          <div class="call-box">
              <p>
                  Questions? Call your Client Advisor
                  <a href="tel:515-707-8856"><span class="phone-icon"></span> 515-707-8856</a>
              </p>
              
          </div>
      </div>
  </div>
</div>